services:
  tcg:
    build: .
    container_name: tcg
    restart: unless-stopped
    env_file:
      - ./secrets/.env
    environment:
      - STREAMLIT_SERVER_HEADLESS=true
      - STREAMLIT_BROWSER_GATHER_USAGE_STATS=false
    networks:
      - shared-internal

networks:
  shared-internal:
    external: true
    name: shared-internal
