services:
  tcg:
    build: .
    restart: unless-stopped
    env_file:
      - ./secrets/.env
    environment:
      - STREAMLIT_SERVER_HEADLESS=true
      - STREAMLIT_BROWSER_GATHER_USAGE_STATS=false
      - APP_ENV=beta
    networks:
      shared-internal:
        aliases:
          - tcg-beta

networks:
  shared-internal:
    external: true
    name: shared-internal